.img-logo{
  margin-left: 3rem;
  width: 15%;
  height: 15%;
 }

 

.collapse{
  margin-right: 2rem;
}



.encabezado {
  padding-top: 18Rem;
  padding-bottom: 15rem;
  text-align: center;
  color: #fff;
  background-image: url("../img/header-bg.JPG");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

.slogan {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 2.25rem;
  margin-bottom: 25px;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.titulo {
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 3.25rem;
  margin-bottom: 2rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.btn-primary{
  width: 15rem;
  height: 3rem;
  font-size: 1.25rem;
}


/*cards*/

 
.wrapper {
  display: table;
  height: 100%;
  width: 100%;
  background: rgb(3, 0, 0);
}

.contenedor {
  display: table-cell;
  padding: 1em;
  text-align: center;
  vertical-align: middle;
}

h1.heading {
  transition: 250ms;
     font-size: 45px;
  padding: 2rem;
  color: #fff;
  font-size: 1.15em;
  font-weight: 900;
  margin: 0 0 0.5em;
  color: #ffffff;
}
@media (min-width: 450px) {
  h1.heading {
    font-size: 3.55em;
  }
}
@media (min-width: 760px) {
  h1.heading {
    font-size: 3.05em;
  }
}
@media (min-width: 900px) {
  h1.heading {
    font-size: 3.25em;
    margin: 0 0 0.3em;
  }
} 
.card {
   display: block; 
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color:#18191A;
    
     
}


.img-card {
  width: 100%;
  height: 20rem;
  border-top-left-radius: 0.025rem;
  border-top-right-radius: 0.25rem;
  display:block;
  overflow: hidden;
  transition: 0.25s;
}

.img-card:hover{
  transform:scale(1.03,1.03);
}

.card-content {
  padding:2rem;
  text-align:center;
}

.card-title {
  margin-top:0px;
  font-weight: 700;
  font-size: 1.65em;
  color: rgb(255, 255, 255);
  transition: 250ms;
}

.card-title:hover{
  font-size: 1.75em;
  color:rgb(1, 73, 167)
}

.card-read-more {
  border-top: 1px solid #D4D4D4;
}


.card-read-more a {
  text-decoration: none !important;
  padding:10px;
  font-weight:600;
  text-transform: uppercase
}

.parrafo{
  text-align: left;
  color:#ffffff
}

button{
  line-height: 0;
}



