.img-logo{
  margin-left: 3rem;
  width: 15%;
  height: 15%;
 }

.navbar-toggler{
  display: flex;
  align-self: flex-start;
}

.navbar-brand{
  display: flex;
  align-self: flex-start;
}

.navbar-collapse{
  display: flex;
  align-self: baseline;
  flex-basis: 0rem;
 
}

.navbar{
  display: flex;
  flex-flow: row;
  align-items: flex-start;
}



/*menu transparente*/

#navbar {
  background-color: rgba(0, 0, 0, 0.345);
  top: 0px;
  transition: 0.3s;
}

#navbar .nav-link {
  color: #fff;
  padding: 15px;
  text-decoration: none;
  font-size: 0.90em;
}

#navbar .nav-link:hover {
  background-color: rgba(136, 135, 135, 0.342);
  color: rgb(255, 255, 255);
}

.encabezado {
  padding-top: 20Rem;
  padding-bottom: 15rem;
  height: 55rem;
  text-align: center;
  color: rgba(14, 0, 0, 0.283);
  background-image: url("../img/header-bg.JPG");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}



.titulo {
  font-weight: 700;
  line-height: 3.25rem;
  margin-bottom: 2rem;
  font-size: 0.50em;
}

.btn-primary{
  width: 15rem;
  height: 3rem;
  font-size: 1.25rem;
}


/*cards*/



 
.wrapper {
  display: table;
  height: 100%;
  width: 100%;
  background: rgb(3, 0, 0);
}

.contenedor {
  display: table-cell;
  padding: 1em;
  text-align: center;
  vertical-align: middle;
  
}


.sombra{
  background: rgba(0, 0, 0, 0.413);
}

.slogan {
  transition: 250ms;
  padding: 0;
  color: #fff;
  font-size: 1.8em;
  line-height: 2.5rem;
  margin-bottom: 25px;
  font-family: 'Josefin Sans', sans-serif !important;
}


h2{
  transition: 250ms;
  padding: 0;
  color: #fff;
  font-size: 1.15em;
  line-height: 2.25rem;
  margin-bottom: 25px;
  font-family: 'Poppins', sans-serif !important;
}

@media (min-width: 300px) {
  h1 {
    font-size: 1em;
  }
  h2 {
    font-size: 2em;
  }
  .encabezado{
    padding-top: 17rem;
  }

@media (min-width: 450px) {
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 2.5em;
  }
}
@media (min-width: 760px) {
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 3em;
  }
}
@media (min-width: 900px) {
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 3em;
  }
} 

.card {
   display: block; 
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color:#18191A;
    transition: 0.25s;
}


.img-card {
  width: 100%;
  height: 15rem;
  border-top-left-radius: 0.025rem;
  border-top-right-radius: 0.25rem;
  display:block;
  overflow: hidden;
}

.card:hover{
  transform:scale(1.03,1.03);
  background: #3f8edd34;
}

.card-content {
  padding:2rem;
  text-align:center;
}

.card-title {
  margin-top:0px;
  font-weight: 700;
  font-size: 1.65em;
  color: rgb(255, 255, 255);
  transition: 250ms;
}


.card-read-more {
  border-top: 1px solid #D4D4D4;
}

.btn:hover{
  background: #18191a70;
}

.card-read-more a {
  padding:10px;
  font-weight:600;
  text-transform: uppercase
}

.parrafo{
  text-align: left;
  color:#ffffff
}

button{
  line-height: 0;
}



